.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url('https://static.truist.com/content/dam/truist-bank/us/en/images/article/mm/tax-tips-for-charitable-givers-mobile.jpg') center/cover no-repeat;
}

mat-card {
  width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin: 10px;
}

.error{
  color: red;
  font-size: 14px;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
