.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin: 10px;
}

.error{
  color: red;
  font-size: 14px;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
